{% extends 'layout.html.twig' %}

{% block title %}{{ scenario.titre }}{% endblock %}

{% block edito_body %}
    <div class="example-wrapper">
        <h2>{{ scenario.titre }} ✅</h2>
        <div class="well">
            {{ scenario.pitch|raw }}
            {% if scenario.scenes is not null %}
                <ul>
                {% for scene in scenario.scenes %}
                    <li>
                        <a href="">{{ scene.titre }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            <p class="text-right"><dfn>{{ scenario.auteur.login }} publié le {{ scenario.createdAt|date('d/m/Y') }}</dfn></p>
        </div>
    </div>
{% endblock %}

